<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.redbricklane.zapr.demo">


    <application
        android:allowBackup="true"
        android:icon="@drawable/zapr_logo"
        android:label="@string/app_name"
        android:name=".ZaprApp"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ZaprSDK"
            android:configChanges="orientation|keyboard|layoutDirection|screenLayout|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".BannerAdActivity" />
    </application>

</manifest>
